/* Estilos del Navbar Vertical */
.navbar-vertical {
    background-color: #f8f9fa;
    width: 250px;
    height: 100vh;
    position: fixed; /* Fija el navbar en el lado izquierdo */
    top: 0;
    left: 0;
    padding-top: 1rem;
    overflow-y: auto; /* Permite desplazamiento si el contenido es grande */
  }
  
  .navbar-vertical .nav-link {
    color: #000;
    padding: 0.75rem 1rem;
  }
  
  .navbar-vertical .nav-link:hover {
    color: #007bff;
    text-decoration: none;
  }
  
  .content-container {
    margin-left: 250px; /* Asegura que el contenido comience después del navbar */
    padding: 20px;
  }
  